<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donación de Peluches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container registro">
            <h2>Registro</h2>
            <form method="POST" action="/register">
                <input type="text" name="nombre" placeholder="Nombre" required>
                <input type="text" name="apellido" placeholder="Apellido" required>
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="password" name="confirm_password" placeholder="Conf. Contraseña" required>
                <button type="submit">Registrar</button>
            </form>
        </div>

        <div class="form-container inicio-sesion">
            <h2>Inicio de Sesión</h2>
            <form method="POST" action="/login">
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>
</html>

